.container{
    width: 80%;
    margin: 100px auto;
    padding: 20px 50px;
    box-sizing: border-box;
    border: 1px solid #9e9e9e;
}
h2,
h1{
    margin: 0;
}
sup{
    font-size: 10px;
}
strong{
    font-size: 20px;
}
ol>li{
    margin-bottom: 10px;
}

li:nth-child(1) strong,
span:nth-child(1){
    color: rgb(176, 0, 0);
}

li:nth-child(2) strong,
span:nth-child(2){
    color: rgb(0, 176, 23);
}

li:nth-child(3) strong,
span:nth-child(3){
    color: rgb(79, 0, 176);
}
 
li:nth-child(4) strong,
span:nth-child(4){
    color: rgb(2, 213, 210);
}

li:nth-child(5) strong,
span:nth-child(5){
    color: rgb(157, 0, 200);
}

li:nth-child(6) strong,
span:nth-child(6){
    color: rgb(1, 4, 90);
}

li:nth-child(7) strong,
span:nth-child(7){
    color: rgb(186, 153, 32);
}

li:nth-child(8) strong,
span:nth-child(8){
    color: rgb(17, 228, 63);
}

li:nth-child(9) strong,
span:nth-child(9){
    color: rgb(108, 70, 233);
}

li:nth-child(10) strong,
span:nth-child(10){
    color: rgb(233, 70, 176);
}

li:nth-child(11) strong,
span:nth-child(11){
    color: rgb(190, 102, 0);
}

li:nth-child(12) strong,
span:nth-child(12){
    color: rgb(49, 0, 209);
}

li:nth-child(13) strong,
span:nth-child(13){
    color: rgb(163, 30, 165);
}

li:nth-child(17) strong,
span:nth-child(14){
    color: rgb(233, 160, 70);
}
/* 
li:nth-child(99) strong,
span:nth-child(99){
    color: rgb(233, 94, 70);
}

li:nth-child(99) strong,
span:nth-child(99){
    color: rgb(94, 165, 8);
}

li:nth-child(99) strong,
span:nth-child(99){
    color: rgb(50, 132, 128);
} */

.svg-anim{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #3affe1;
}

svg{
    cursor: pointer;
    box-sizing: border-box;
    overflow: visible;
}

.svg-anim ul{
    width: 30%;
}

